.fz-16 {
    
}
.fz-20 {

}
.fz-24{

}
.bold {
    font-weight: bold;
}
.thin {
    font-weight: thin;
}
.italic {
    font-weight: italic;
}
.text-color-primery {
    color: $primery
}
.text-color-danger {
    color: $danger
}
.text-color-warning {
    color: $warning
}
.text-color-success {
    color: $success
}
.text-color-dark {
    color: $dark
}


